.task_column_icon {
    width: 30px;
    margin-right: 5px;
}

.task_column_heading {
    display: flex;
    align-items: center;
    margin: 5px;
}

.task_column {
    background-color: grey;
    margin: 10px;
    border-radius: 10px;
    height: 800px;
}
